<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="false">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/com/mengruojun/common/global.properties</value>
                <value>classpath:/com/mengruojun/jms/jms.properties</value>
                <value>classpath:/com/mengruojun/common/dao/db/jdbc.properties</value>
            </list>
        </property>
    </bean>

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <import resource="classpath:com/mengruojun/jms/jms-spring.xml"/>
    <import resource="classpath:com/mengruojun/common/db/applicationContext-dao.xml"/>


    <!-- Activates scanning of @Repository and @Service -->
    <context:component-scan base-package="com.mengruojun"/>




    <!-- Add JMS listener here -->
    <bean id="marketDataJmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="jmsTopicMarketBarData"/>
        <property name="messageListener" ref="marketDataReceiver" />
    </bean>

    <bean id="clientDataJmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="jmsTopicClientInfo"/>
        <property name="messageListener" ref="clientDataReceiver" />
    </bean>

    <bean id="tradeCommandSender" class="com.mengruojun.jms.utils.JMSSender">
        <property name="template" ref="jmsTemplate" />
        <property name="destination" ref="jmsTopicTradeCommand" />
    </bean>
    <!-- Add new DAOs here -->

    <!-- Add new Managers here -->
    <!--<bean id="marketDataManager" class="com.mengruojun.strategycenter.component.marketdata.MarketDataManager"></bean>-->

</beans>