#systemMonitor-tabContainer .system-panel{
    float: left;
    width: 33%;
}

#systemMonitor-tabContainer .system-panel.robot-client-info{
    float: none;
    width: auto;
}

#systemMonitor-tabContainer .system-panel .server-status.down {
    background: url("../img/icon_sprite.png") no-repeat scroll -61px -51px transparent;
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: bottom;
}

#systemMonitor-tabContainer .system-panel .server-status.up {
    background: url("../img/icon_sprite.png") no-repeat scroll -101px -53px transparent;
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: bottom;
}
#systemMonitor-tabContainer .system-panel button.hide{
    display: none;
}

fieldset {
    border: 2px solid #AAAAAA;
    margin: 5px 5px;
    padding: 10px;
}
fieldset legend {
    bottom: 0.4em;
    color: #888888;
    font-size: 1.3em;
    position: relative;
}
fieldset ul {
    margin: 0 0 1em;
    padding-left: 0;
}
fieldset li {
    clear: right;
    margin-left: 25px;
    margin-right: 30px;
    padding: 0;
    line-height: 18px;
}
