<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{MM-dd HH\:mm\:ss.SSS} %-5p [%F\:%L]%x %m%n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="log/broker-client/broker-client.log"/>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{MM-dd HH\:mm\:ss.SSS} %-5p [%F\:%L]%x %m%n"/>
        </layout>
    </appender>

    <appender name="FILE2" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="log/broker-client/broker-client-2.log"/>
        <param name="Append" value="true"/>
        <param name="MaxBackupIndex" value="3"/>
        <param name="MaxFileSize" value="100KB" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{MM-dd HH\:mm\:ss.SSS} %-5p [%F\:%L]%x %m%n"/>
        </layout>
    </appender>

    <logger name="net.sf.ehcache">
        <level value="ERROR"/>
    </logger>

    <!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
    <logger name="org.springframework.security">
        <level value="ERROR"/>
    </logger>

    <logger name="org.apache">
        <level value="WARN"/>
    </logger>

    <logger name="org.apache.velocity">
        <level value="FATAL"/>
    </logger>

    <logger name="org.hibernate">
        <level value="WARN"/>
    </logger>
  
    <!--logger name="org.hibernate.SQL">
        <level value="DEBUG"/>
    </logger-->

    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>
   
    <logger name="com.mengruojun">
        <level value="DEBUG"/>
    </logger>
    <logger name="com.historydatacenter">
        <level value="DEBUG"/>
    </logger>

    <root>
        <level value="WARN"/>
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="FILE"/>-->
        <appender-ref ref="FILE"/>

    </root>

</log4j:configuration>
