<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="false">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/com/mengruojun/common/global.properties</value>
                <value>classpath:/com/mengruojun/jms/jms.properties</value>
                <value>classpath:/com/mengruojun/brokerclient/dukascopy/dukascopy.properties</value>
                <value>classpath:com/mengruojun/common/db/jdbc.properties</value>
            </list>
        </property>
    </bean>

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <!-- Activates scanning of @Repository and @Service -->
    <context:component-scan base-package="com.mengruojun.brokerclient"/>

    <import resource="classpath:com/mengruojun/jms/jms-spring.xml"/>
    <import resource="classpath:com/mengruojun/common/db/app-common.xml"/>

    <bean id="dukascopyMarketDataFeedClient" class="com.mengruojun.brokerclient.dukascopy.DukascopyTradeClient">
        <property name="brokerType" value="DukascopyMarketDataFeeder"/>
        <property name="clientId" value="dukascopyMarketDataFeedClient"/>
        <property name="strategy" ref="marketDataFeedStrategy"/>
        <property name="jnlpUrl" value="${brokerclient.dukascopy.demoURL}"/>
        <property name="userName" value="${brokerclient.dukascopy.markertdatafeeder.username}"/>
        <property name="password" value="${brokerclient.dukascopy.markertdatafeeder.password}"/>
    </bean>
    <bean id="dukascopyHistoryMarketDataFeedClient" class="com.mengruojun.brokerclient.dukascopy.DukascopyTradeClient">
        <property name="brokerType" value="DukascopyMarketDataFeeder"/>
        <property name="clientId" value="dukascopyHistoryMarketDataFeedClient"/>
        <property name="strategy" ref="historyMarketDataFeedStrategy"/>
        <property name="jnlpUrl" value="${brokerclient.dukascopy.demoURL}"/>
        <property name="userName" value="${brokerclient.dukascopy.historydatafeeder.username}"/>
        <property name="password" value="${brokerclient.dukascopy.historydatafeeder.password}"/>
    </bean>

    <!-- ForexInvest Dukascopy Client configuration start-->

    <bean id="dukascopyClient1" class="com.mengruojun.brokerclient.dukascopy.DukascopyTradeClient">
        <property name="brokerType" value="DukascopyDemo"/>
        <property name="clientId" value="dukascopyClient1"/>
        <property name="strategy" ref="msgRouterStrategy1"/>
        <property name="jnlpUrl" value="${brokerclient.dukascopy.demoURL}"/>
        <property name="userName" value="${brokerclient.dukascopy.client1.username}"/>
        <property name="password" value="${brokerclient.dukascopy.client1.password}"/>
    </bean>

    <bean id="msgRouterStrategy1" class="com.mengruojun.brokerclient.dukascopy.MsgRouterStrategy">
        <property name="strategyName" value="sample"/>
    </bean>


    <!-- auto extended demo account-->
    <bean id="dukascopyAutoExpandedDemoClient1" class="com.mengruojun.brokerclient.dukascopy.DukascopyTradeClient">
        <property name="brokerType" value="DukascopyMarketDataFeeder"/>
        <property name="clientId" value="dukascopyHistoryMarketDataFeedClient"/>
        <property name="strategy" ref="extendDemoAccountStrategy"/>
        <property name="jnlpUrl" value="${brokerclient.dukascopy.demoURL}"/>
        <property name="userName" value="${brokerclient.dukascopy.client1.username}"/>
        <property name="password" value="${brokerclient.dukascopy.client1.password}"/>
    </bean>
    <bean id="dukascopyAutoExpandedDemoClient2" class="com.mengruojun.brokerclient.dukascopy.DukascopyTradeClient">
        <property name="brokerType" value="DukascopyMarketDataFeeder"/>
        <property name="clientId" value="dukascopyHistoryMarketDataFeedClient"/>
        <property name="strategy" ref="extendDemoAccountStrategy2"/>
        <property name="jnlpUrl" value="${brokerclient.dukascopy.demoURL}"/>
        <property name="userName" value="${brokerclient.dukascopy.markertdatafeeder.username}"/>
        <property name="password" value="${brokerclient.dukascopy.markertdatafeeder.password}"/>
    </bean>
    <bean id="extendDemoAccountStrategy" class="com.mengruojun.brokerclient.dukascopy.utils.account.ExtendDemoAccountStrategy"/>
    <bean id="extendDemoAccountStrategy2" class="com.mengruojun.brokerclient.dukascopy.utils.account.ExtendDemoAccountStrategy"/>

    <!-- ForexInvest Dukascopy Client configuration end-->

    <!-- Add JMS listener here -->
    <!--<bean id="tradeCommandJmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer" lazy-init="true">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="jmsTopicTradeCommand"/>
        <property name="messageListener" ref="tradeCommandReceiver" />
    </bean>-->

    <bean id="marketDataSender" class="com.mengruojun.jms.utils.JMSSender">
        <property name="template" ref="jmsTemplate" />
        <property name="destination" ref="jmsTopicMarketBarData" />
    </bean>

    <bean id="clientInfoSender" class="com.mengruojun.jms.utils.JMSSender">
        <property name="template" ref="jmsTemplate" />
        <property name="destination" ref="jmsTopicClientInfo" />
    </bean>

    <!-- Add new DAOs here -->

    <!-- Add new Managers here -->
</beans>