.performance-container{
    width: 100%;
}

.performance-container .performance-data{
    float: left;
    width: 75%;
    overflow: auto;

    height: 1000px;
}

.performance-container .performance-data .equityChart{
    width: 900px;
    height: 400px;
}

.performance-container .control{
    float: right;
    width: 25%;
    overflow: auto;
}

.performance-container H1{
    margin:auto;
    font-size: 20px;
}
.performance-container p{
    margin:auto;
}